@font-face {
    font-family: "Roboto";
    src: url("resources/fonts/Roboto-Regular.woff") format("woff");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Start of Grid Layout */
.main-container {
    display: grid;
    height: 100vh;
    grid-template: 1.5fr 9fr 50px / 1fr;
}

.main-panel {
    width: 100%;
    height: 100%;
    position: relative;
}

/* End of Grid Layout */

/* Start of Header Styling */

.top-panel {
    background-color: black;
    color: white;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    justify-content: space-around;
    grid-gap: 60%;
}

.top-panel h1 {
    text-align: center;
    align-self: center;

    font-size: 2.2rem;
}

.top-panel button {
    justify-self: center;
    align-self: center;

    font-size: 1.5rem;
    font-family: Roboto;
    border-radius: 5px;
    border: 1px solid black;
}

.top-panel button:active {
    box-shadow: 1px 1px 10px grey;
}

/* End of Header Styling */

/* Footer styling */
.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Start of styling for new book popup and button */

.addBook {
    position: absolute;
    top: -150%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0;
    border: grey 2px solid;
}

.addBook.active {
    top: 50%;
    opacity: 1;
}

.addBook:active {
    box-shadow: inset 0px 0px 3px grey;
}

.bookPopup {
    position: absolute;
    top: -150%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    box-shadow:2px 3px 5px 2px #999;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
    
    opacity: 0;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

.bookPopup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

.bookPopup :is(label, input) {
    display: block;
    padding: 0;
    margin-top: 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bookPopup .checkboxGrid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.checkboxGrid .falseLabel {
    grid-column: 2;
    grid-row: 1;
}

.checkboxGrid label {
    text-align: center;
}

form button {
    display: block;
    margin: auto;
    margin-top: 8px;
    padding: 1px, 3px;
    border: 1px solid black;
    border-radius: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .9rem;
}
.bookPopup input {
    border: 1px solid black;
    border-radius: 3px;
    padding: 1px 3px;
    font-size: 1rem;
}


/* Styling and position for the button to close the popup */
.bookPopup .close-btn {
    position: absolute;
    top: .5rem;
    right: .5rem;

    margin: 0;
    padding: 10px;
    border: 0;
    background-color: rgba(128, 128, 128, 0);
}

.bookPopup h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* End of styling for new book popup and button */

/* Start of styling for book cards */

.bookContainer .book {
    width: 300px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 3px grey;
    background-color: rgb(240, 240, 240);
}

.book h2 {
    padding: 5px;
    font-family: Roboto;
    font-size: 1.7rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(223, 150, 15);
}

.book p {
    font-family: Roboto;
    font-size: 1rem;
    margin: 15px;
}

.book .readStatus {
    border: 1px solid black;
    width: 5rem;
    margin: auto;
    background-color: rgb(10, 179, 41);
    border-radius: 5px;
}

.book button {
    margin: 10px;
    background-color: red;
    border-radius: 5px;
}

/* Styling the grid layout for the cards */

.bookContainer {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, 300px);
}

/* End of styling for book cards */